:root {
  --mainBlankArea: 30px;
  --mainBlankArea2x: calc(var(--mainBlankArea) * 4);

  --contentBgColor: rgb(22, 22, 22);
  --mainBgColor: rgb(37, 37, 37);

  --defaultFontColor: rgb(226, 226, 226);

  --defaultTransition: ease-in-out 0.1s all;

  --defaultInsetBoxShadow: inset 0 0 35px 0 #000000a6;
  --defaultInsetBoxShadowMobile: inset 0 0 17px 0 #000000a6;
}

/*OTHER -- OTHER -- OTHER -- OTHER -- OTHER -- OTHER -- OTHER -- OTHER*/
/*OTHER -- OTHER -- OTHER -- OTHER -- OTHER -- OTHER -- OTHER -- OTHER*/

body {
  font-size: 18px;
}

#pageParent {
  display: grid;
  grid-template-columns: minmax(calc(30% - var(--mainBlankArea2x)), 200px) calc(70% - var(--mainBlankArea2x));
  grid-template-rows: auto;
  grid-template-areas:
    "header main"
    "header main";

  background-color: var(--mainBgColor);
  min-height: 100vh;
  /* max-height: 100vh; */
  justify-content: space-evenly;
  color: var(--defaultFontColor);
  font-family: "Ropa Sans", sans-serif;
}

h2 {
  text-align: center;
  font-size: 2em;
  /* margin: 10px 0; */
  font-family: "Didact Gothic", sans-serif;
}

/*OTHER END -- OTHER END -- OTHER END -- OTHER END -- OTHER END -- OTHER END*/
/*OTHER END -- OTHER END -- OTHER END -- OTHER END -- OTHER END -- OTHER END*/

/*HEADER -- HEADER -- HEADER -- HEADER -- HEADER -- HEADER -- HEADER -- HEADER -- HEADER*/
/*HEADER -- HEADER -- HEADER -- HEADER -- HEADER -- HEADER -- HEADER -- HEADER -- HEADER*/

#pageParent > header {
  grid-area: header;

  background-color: var(--contentBgColor);
  padding: var(--mainBlankArea);
  max-height: calc(100vh - (var(--mainBlankArea) * 2));

  display: grid;
  grid-template-rows: 60% 40%;
  /* grid-template-rows: 6fr 4fr;      <<<<    WONT WORK*/

  box-shadow: var(--defaultInsetBoxShadow);

  background-image: url(../resources/images/oneYork_1.jpg);
  background-size: cover;
  background-position: center;
}

#footer {
  box-sizing: content-box;
  background-color: gray;
}

header > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*ABOUT -- ABOUT -- ABOUT -- ABOUT -- ABOUT -- ABOUT*/
/*ABOUT -- ABOUT -- ABOUT -- ABOUT -- ABOUT -- ABOUT*/
#headderAbout div {
  padding: calc(var(--mainBlankArea) / 2) var(--mainBlankArea);
  background-color: rgba(0, 0, 0, 0.6);
}

#headderAbout p {
  text-align: justify;
}
/*ABOUT end -- ABOUT end -- ABOUT end -- ABOUT end -- ABOUT end*/
/*ABOUT end -- ABOUT end -- ABOUT end -- ABOUT end -- ABOUT end*/

/*NAV -- NAV -- NAV -- NAV -- NAV -- NAV -- NAV -- NAV*/
/*NAV -- NAV -- NAV -- NAV -- NAV -- NAV -- NAV -- NAV*/

#navContainer > nav {
  /* margin: 0 auto; */
  display: inline-block;
}
#navContainer > nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#navContainer > nav > ul > li > a > svg {
  height: 40px;
  width: 40px;
  stroke-width: 25;
  stroke: var(--defaultFontColor);
  fill: none;
}
#navContainer > nav > ul > li {
  margin: 1vw;

  background-color: var(--mainBgColor);
  padding: 5px;

  transition: var(--defaultTransition);
}

#navContainer > nav > ul > li:hover {
  box-shadow: 0 6px 20px -2px rgba(0, 0, 0, 1);
  transform: scale(1.3);
  background-color: var(--contentBgColor);
}

/*NAV end -- NAV end -- NAV end -- NAV end -- NAV end -- NAV end*/
/*NAV end -- NAV end -- NAV end -- NAV end -- NAV end -- NAV end*/
/* #logoParent {
  display: block;
  height: 100%;
} */
#logo {
  fill: var(--mainBgColor);
  height: 100%;
  max-height: 40vw;
  transition: var(--defaultTransition);
}
#logo:hover {
  fill: var(--contentBgColor);
}
/*HEADER END -- HEADER END -- HEADER END -- HEADER END -- HEADER END -- HEADER END -- HEADER END*/
/*HEADER END -- HEADER END -- HEADER END -- HEADER END -- HEADER END -- HEADER END -- HEADER END*/

/*MAIN -- MAIN -- MAIN -- MAIN -- MAIN -- MAIN -- MAIN -- MAIN -- MAIN -- MAIN*/
/*MAIN -- MAIN -- MAIN -- MAIN -- MAIN -- MAIN -- MAIN -- MAIN -- MAIN -- MAIN*/

main::-webkit-scrollbar {
  width: 0;
  background: transparent; /*make scrollbar transparent*/
}

#pageParent > main {
  grid-area: main;
  overflow: hidden;
  box-sizing: content-box;
  background-color: var(--contentBgColor);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  /* scroll-behavior: smooth; */

  box-shadow: var(--defaultInsetBoxShadow);
}

.mainSections {
  min-height: 100%;
  display: grid;
  grid-template-rows: 80px auto;
}

.mainSections > h2 {
  margin-top: var(--mainBlankArea);
}
.mainSections > div {
}

/*MAIN END -- MAIN END -- MAIN END -- MAIN END -- MAIN END -- MAIN END -- MAIN END */
/*MAIN END -- MAIN END -- MAIN END -- MAIN END -- MAIN END -- MAIN END -- MAIN END */

/*MAIN > ABOUT -- MAIN > ABOUT -- MAIN > ABOUT -- MAIN > ABOUT -- MAIN > ABOUT -- MAIN > ABOUT*/
/*MAIN > ABOUT -- MAIN > ABOUT -- MAIN > ABOUT -- MAIN > ABOUT -- MAIN > ABOUT -- MAIN > ABOUT*/
#mainAbout > div {
  padding: 0 var(--mainBlankArea);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2em;
  line-height: 2em;

  text-align: justify;
  text-align-last: center;
}
/*MAIN > ABOUT END -- MAIN > ABOUT END -- MAIN > ABOUT END -- MAIN > ABOUT END -- MAIN > ABOUT END*/
/*MAIN > ABOUT END -- MAIN > ABOUT END -- MAIN > ABOUT END -- MAIN > ABOUT END -- MAIN > ABOUT END*/

@media only screen and (max-width: 1200px) {
  /* #headderAbout {
    display: none;
  } */
}

@media only screen and (max-width: 800px) {
  #pageParent {
    background-color: rgb(0, 83, 160);

    grid-template-columns: 100%;
    grid-template-rows: 10vh 90vh;
    grid-template-areas:
      "header header"
      "main main";
  }

  #pageParent > header {
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    padding: 0;
    background-image: none;
    background-color: var(--defaultFontColor);
    box-shadow: var(--defaultInsetBoxShadowMobile);
  }
  header > article {
    align-items: start;
    margin-left: var(--mainBlankArea);
  }
  
  #navContainer > nav {
    /* width: 100%; */
    align-self: flex-end;
    margin-right: var(--mainBlankArea);
  }
  #navContainer > nav ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

/*TESTING*/
main > .mainSections:nth-child(even) {
  background-image: url(../resources/images/ui-bg_stripes_01.png);
  background-repeat: repeat;
}
main > .mainSections:nth-child(odd) {
  background-image: url(../resources/images/ui-bg_stripes_02.png);
  background-repeat: repeat;
}

/* #pageParent > main {
  border: 1px dashed white;
} */
